# Using Python Libraries (FinQuant, Empyrical) for Portfolio Management

In [54]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import requests
from bs4 import BeautifulSoup
import csv
import time
import finquant
from finquant.portfolio import build_portfolio

%load_ext lab_black

The lab_black extension is already loaded. To reload it, use:
  %reload_ext lab_black

## Hypothetical Portfolios

In [490]:
# Using Python Requests library to download historical returns from Yahoo Finace. Other finance APIs are quite restrictive #
## Solution found on StackOverflow ##

import re
from io import StringIO
from datetime import datetime, timedelta


class YahooFinanceHistory:
    timeout = 2
    crumb_link = "https://finance.yahoo.com/quote/{0}/history?p={0}"
    crumble_regex = r'CrumbStore":{"crumb":"(.*?)"}'
    quote_link = "https://query1.finance.yahoo.com/v7/finance/download/{quote}?period1={dfrom}&period2={dto}&interval=1mo&events=history&crumb={crumb}"

    def __init__(self, symbol, days_back=7):
        self.symbol = symbol
        self.session = requests.Session()
        self.dt = timedelta(days=days_back)

    def get_crumb(self):
        response = self.session.get(
            self.crumb_link.format(self.symbol), timeout=self.timeout
        )
        response.raise_for_status()
        match = re.search(self.crumble_regex, response.text)
        if not match:
            raise ValueError("Could not get crumb from Yahoo Finance")
        else:
            self.crumb = match.group(1)

    def get_quote(self):
        if not hasattr(self, "crumb") or len(self.session.cookies) == 0:
            self.get_crumb()
        now = datetime.utcnow()
        dateto = int(now.timestamp())
        datefrom = int((now - self.dt).timestamp())
        url = self.quote_link.format(
            quote=self.symbol, dfrom=datefrom, dto=dateto, crumb=self.crumb
        )
        response = self.session.get(url)
        response.raise_for_status()

        return pd.read_csv(StringIO(response.text), parse_dates=["Date"])

In [510]:
days_back = 365 * 10


def priceDf(tickers):

    new = dict()
    for ticker in tickers:
        data = YahooFinanceHistory(ticker, days_back).get_quote()
        new[ticker] = data["Adj Close"]
        new["Date"] = data["Date"]

    new = pd.DataFrame(data=new)
    new.set_index("Date", inplace=True)
    new.index = pd.to_datetime(new.index).to_period("M")

    return new

In [372]:
ticks = ['AAL',
 'AXP',
 'AAPL',
 'BAC',
 'CMCSA',
 'CVS',
 'DAL',
 'MA',
 'NKE',
 'UNH',
 'V',
 'DIS',
 'SPY',
 'XAR',
 'VHT',
 'VB',
 'BND',
 'VTV']
rem = ["AAL", "CMCSA", "CVS", "VB"]
add = ["KO", "VGT"]
keep = [t for t in ticks if t not in rem]
hticks1 = keep + add

In [223]:
# sell price
rem_df = pos.loc[pos["Symbol"].isin(rem), ["Price", "Quantity", "Market Value"]]
rem_df = rem_df.applymap(lambda x: x.replace("$", "")).astype("f")
sell = rem_df["Market Value"].sum()
sell

469.73

In [269]:
new1 = priceDf(hticks1)
hmast1 = pd.concat([hmast1, new1], axis=1)

In [309]:
import empyrical as ep

period = "weekly"

for t in add:
    prices = hmast1[t]
    print(t + "\n")
    rets = ep.simple_returns(prices)
    print(ep.cagr(rets, period))
    print(ep.sharpe_ratio(prices, risk_free=0.02, period=period))
    print("\n")

KO

0.47164180188845406
30.86012125283905


VGT

1.1372323664221624
14.137799135868159

In [373]:
ha1 = df_pf.loc[df_pf.Name.isin(keep)].append(
    pd.DataFrame([["KO", 1], ["VGT", 1]], columns=["Name", "Allocation"]),
    ignore_index=True,
)

In [374]:
ha1

    Name  Allocation
0    AXP    1.005000
1   AAPL    1.008000
2    BAC    2.000000
3    DAL    2.000000
4     MA    1.002600
5    NKE    1.003100
6    UNH    1.000000
7      V    2.009500
8    DIS    1.000000
9    SPY    1.009700
10   XAR    1.005500
11   VHT    1.002900
12   BND    3.024400
13   VTV    2.017600
14    KO    1.000000
15   VGT    1.000000

In [437]:
hpf1 = build_portfolio(data=hmast1)

In [362]:
hmast1.columns

Index(['AXP', 'AAPL', 'BAC', 'DAL', 'MA', 'NKE', 'UNH', 'V', 'DIS', 'SPY',
       'XAR', 'VHT', 'BND', 'VTV', 'KO', 'VGT'],
      dtype='object')

In [365]:
ha1.Name.values

array(['AAL', 'AXP', 'AAPL', 'BAC', 'CMCSA', 'CVS', 'DAL', 'MA', 'NKE',
       'UNH', 'V', 'DIS', 'SPY', 'XAR', 'VHT', 'VB', 'BND', 'VTV', 'KO',
       'VGT'], dtype=object)

In [278]:
h1_ms = hpf1.ef_maximum_sharpe_ratio(verbose=False)
h1_ms

      Allocation
AXP     0.000000
AAPL    0.006621
BAC     0.000000
DAL     0.000000
MA      0.070716
NKE     0.036897
UNH     0.093287
V       0.035154
DIS     0.000000
SPY     0.000000
XAR     0.133209
VHT     0.000000
BND     0.624117
VTV     0.000000
KO      0.000000
VGT     0.000000

In [439]:
hpf1.comp_weights()

0    0.062500
1    0.062500
2    0.062500
3    0.062500
4    0.062500
5    0.062500
6    0.062500
7    0.062500
8    0.062500
9    0.062500
10   0.062500
11   0.062500
12   0.062500
13   0.062500
14   0.062500
15   0.062500
Name: Allocation, dtype: float64

In [380]:
hpf1.ef_maximum_sharpe_ratio()

      Allocation
AXP     0.000000
AAPL    0.006621
BAC     0.000000
DAL     0.000000
MA      0.070716
NKE     0.036897
UNH     0.093287
V       0.035154
DIS     0.000000
SPY     0.000000
XAR     0.133209
VHT     0.000000
BND     0.624117
VTV     0.000000
KO      0.000000
VGT     0.000000

### All ETFs

In [483]:
hticks2 = [
    "SPY",
    "XAR",
    "VHT",
    "BND",
    "VTV",
    "VGT",
    "XLE",
    "AAPL",
    "UNH",
    "MA",
    "V",
    "NKE",
]
ticks = list(ticks)
rem = [t for t in ticks if t not in hticks2]
add = [t for t in hticks2 if t not in ticks]
keep = [t for t in hticks2 if t in ticks]

In [497]:
hmast2 = pd.concat([master.loc[:, keep], priceDf(add)], axis=1)

In [498]:
hmast2

,SPY,XAR,VHT,BND,VTV,AAPL,UNH,MA,V,NKE,VGT,XLE
Date,,,,,,,,,,,,
2010-07,90.553703,21.891249,43.697258,61.466763,36.963882,31.814383,26.103277,17.943613,15.246343,13.902665,47.295860,40.431011
2010-08,86.480568,24.534058,42.801445,62.423424,35.395241,30.064436,27.191977,17.074158,14.338008,13.215457,44.022072,38.448498
2010-09,93.723564,24.234539,46.970470,62.427181,37.818092,35.091660,30.098061,19.281160,15.538717,15.129810,49.597305,42.098106
2010-10,97.824875,24.661795,47.874916,62.628151,39.115501,37.222515,31.017849,20.663555,16.354773,15.608957,52.772968,44.690636
2010-11,97.824875,25.878263,46.772354,62.197666,38.873127,38.480263,31.422239,20.540718,15.452919,16.507853,52.273434,47.308418
...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03,256.243225,nan,165.662292,84.658150,88.270271,253.603500,248.304443,241.187042,160.850662,82.534111,211.081207,28.423962
2020-04,290.480011,nan,188.419998,86.974075,98.559998,293.006836,292.470001,274.545471,178.421249,86.963066,242.000000,38.000000
2020-05,304.320007,nan,196.619995,87.576523,101.400002,317.081665,304.850006,300.890015,194.913635,98.334702,261.029999,38.759998
2020-06,311.660004,nan,191.820007,87.701103,102.320000,351.589996,292.600006,303.760010,193.559998,99.209999,272.910004,39.689999
2020-06,311.559998,nan,191.820007,87.870003,102.320000,351.589996,292.600006,303.760010,193.559998,99.209999,272.910004,39.689999

In [499]:
hpf2 = build_portfolio(data=hmast2)

In [411]:
def stats(pf):
    vol = pf.comp_volatility()
    sha = pf.comp_sharpe()
    ret = pf.comp_expected_return(freq=12)

    print("volatility = {:f}\n".format(vol))
    print("sharpe = {:f}\n".format(sha))
    print("return = {:f}\n".format(ret))

In [500]:
stats(hpf2)

volatility = 0.526523

sharpe = 7.147451

return = 0.179443

In [501]:
stats(hpf1)

volatility = 0.561281

sharpe = 0.302465

return = 0.174768

In [502]:
stats(pf)

volatility = 0.730285

sharpe = 4.589820

return = 0.159851

US Fundamental API token: Ph8tWMmdILCKi5oEz-Uelw

## New ETFs

In [503]:
add = ["VEA", "VWO"]
keep = hticks2
hticks3 = keep + add

In [506]:
new3 = priceDf(add)

In [516]:
hmast3

,SPY,XAR,VHT,BND,VTV,AAPL,UNH,MA,V,NKE,VGT,XLE,VEA,VWO
Date,,,,,,,,,,,,,,
2010-07,90.553703,21.891249,43.697258,61.466763,36.963882,31.814383,26.103277,17.943613,15.246343,13.902665,47.295860,40.431011,24.025383,32.257786
2010-08,86.480568,24.534058,42.801445,62.423424,35.395241,30.064436,27.191977,17.074158,14.338008,13.215457,44.022072,38.448498,23.164440,31.433432
2010-09,93.723564,24.234539,46.970470,62.427181,37.818092,35.091660,30.098061,19.281160,15.538717,15.129810,49.597305,42.098106,25.401407,35.023609
2010-10,97.824875,24.661795,47.874916,62.628151,39.115501,37.222515,31.017849,20.663555,16.354773,15.608957,52.772968,44.690636,26.431602,36.109917
2010-11,97.824875,25.878263,46.772354,62.197666,38.873127,38.480263,31.422239,20.540718,15.452919,16.507853,52.273434,47.308418,25.136505,35.085243
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03,256.243225,nan,165.662292,84.658150,88.270271,253.603500,248.304443,241.187042,160.850662,82.534111,211.081207,28.423962,33.191494,33.487469
2020-04,290.480011,nan,188.419998,86.974075,98.559998,293.006836,292.470001,274.545471,178.421249,86.963066,242.000000,38.000000,35.680000,36.169998
2020-05,304.320007,nan,196.619995,87.576523,101.400002,317.081665,304.850006,300.890015,194.913635,98.334702,261.029999,38.759998,37.669998,37.360001
2020-06,311.660004,nan,191.820007,87.701103,102.320000,351.589996,292.600006,303.760010,193.559998,99.209999,272.910004,39.689999,39.419998,39.730000
2020-06,311.559998,nan,191.820007,87.870003,102.320000,351.589996,292.600006,303.760010,193.559998,99.209999,272.910004,39.689999,39.419998,39.730000

In [ ]:
hmast3.drop()

In [520]:
hpf3 = build_portfolio(data=hmast3.drop(columns=["VEA", "VWO"]))

In [521]:
stats(hpf3)

volatility = 0.526523

sharpe = 7.147451

return = 0.179443